#about
    padding: 100px 0
    h1
        font-size: 40px
        font-weight: 700
        margin: 0 0 20px 0
    h3
        font-size: 19px
        font-style: italic
        color: #6a7380
        margin: 0 0 100px 0
        
