#portfolio
    padding: 0 0 70px 0
    background-color: #f8f9fa
    .bcc
        margin: 85px 0 55px
        line-height: 1.8
        h1
            font-size: 40px
            font-weight: 700
        h3
            font-size: 19px
            color: #6a7380
            font-style: italic
    .box
        background-color: #ffff
        margin: 0 0 20px 0
        .imgbox
            width: 100%

        .textbox
            h2
                margin: 15px 0 10px 0
                font-size: 30px
                font-weight: 700
            h5
                padding: 0 0 10px
                font-size: 18px
                font-style: italic
                color: #6a7380
