#welcome
    height: 100vh
    width: 100vw
    background-image: url("https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg")
    background-size: cover
    background-position: center
    display: flex
    justify-content: center
    align-items: center
    background-repeat: no-repeat
    .textbox
        line-height: 1.6
        flex-direction: column
        text-align: center
        h1
            margin: 55px 0 0 0
            font-size: 40px
            font-family: 'Times New Roman', Times, serif
            font-style: italic
            color: #ffff
        h3
            font-size: 75px
            font-weight: 700
            font-family: Arial, Helvetica, sans-serif
            color: #ffff
        .btn
            margin: 40px 0 0 0
            width: 14vw
            height: 9vh
            background-color: #ffc800
            h5
                color: #ffff
                font-size: 18px
                font-weight: 700
                font-family: Arial, Helvetica, sans-serif
