#welcome
    .box
        .textbox
            width: 60vw
            position: absolute
            z-index: 99
            top: 250px
            line-height: 1.5
            flex-direction: column
            h1
                color: #ffff
                font-size: 35px
                font-style: italic
                font-family: Arial, Helvetica, sans-serif
            h3
                color: #ffff
                font-size: 70px
                font-weight: 700
                font-family: Arial, Helvetica, sans-serif
            .btn
                margin: 40px 0
                width: 15vw
                height: 10vh
                background-color: #ffc800
                h5
                    color: #ffff
                    font-size: 18px
                    font-weight: 700
                    font-family: Arial, Helvetica, sans-serif
